scripts/reporte_imss.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="reporte_imss">
        <xs:complexType>
            <xs:sequence>
                
                <xs:element name="metadatos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="fuente" type="xs:string"/>
                            <xs:element name="url_dataset" type="xs:string"/>
                            <xs:element name="fecha_generacion" type="xs:string"/>
                            <xs:element name="total_documentos" type="xs:string"/>
                            <xs:element name="graficas">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="grafica" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:attribute name="ruta" type="xs:string" use="required"/>
                                                <xs:attribute name="nombre" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <xs:element name="resultados">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pipeline" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                                        <xs:element name="entidad">
                                            <xs:complexType>
                                                <xs:attribute name="nombre" type="xs:string" use="required"/>
                                                <xs:attribute name="total" type="xs:string" use="optional"/>
                                                <xs:attribute name="crecimiento" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="periodo">
                                            <xs:complexType>
                                                <xs:attribute name="anio" type="xs:string" use="required"/>
                                                <xs:attribute name="mes" type="xs:string" use="required"/>
                                                <xs:attribute name="total" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="grupo">
                                            <xs:complexType>
                                                <xs:attribute name="sexo" type="xs:string" use="required"/>
                                                <xs:attribute name="total" type="xs:string" use="required"/>
                                                <xs:attribute name="promedio" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="tipo">
                                            <xs:complexType>
                                                <xs:attribute name="categoria" type="xs:string" use="required"/>
                                                <xs:attribute name="total" type="xs:string" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="region">
                                            <xs:complexType>
                                                <xs:attribute name="nombre" type="xs:string" use="required"/>
                                                <xs:attribute name="total" type="xs:string" use="required"/>
                                                <xs:attribute name="masa_salarial" type="xs:string" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:choice>
                                    <xs:attribute name="nombre" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>